<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" th:object="${itemFormDto}">
        <select th:field="*{itemSellStatus}">
            <option value="SELL">판매중</option>
            <option value="SOLD_OUT">품절</option>
        </select>

        <p>상품명</p>
        <input type="text" th:field="*{title}" />
        <p>가격</p>
        <input type="number" th:field="*{price}" />
        <p>재고</p>
        <input type="number" th:field="*{stockQuantity}" />
<!--        <div th:if="${#lsits.isEmpty(itemFormDto.itemImageDtoList)}">-->
<!--            <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">-->
<!--                <p>상품 이미지</p>-->
<!--                <input type="file" name="itemImageFile" />-->
<!--            </div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div th:if="${#strings.isEmpty(itemFormDto.id)}">&ndash;&gt;-->
            <button th:formaction="@{/admin/item/new}" type="submit">저장</button>
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
    </form>
</body>
</html>